{% extends 'base.html' %}

{% block title %}
  Create Todo Item
{% endblock title %}
{% block main %}
  <div>
    <h1>Create a new item</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button>Create</button>
    </form>
  </div>
{% endblock main %}
