{% extends 'base.html' %}

{% block title %}
  Todos List
{% endblock title %}
{% block main %}
  <div>
    <h1>My Lists</h1>
    <a href="{% url 'todo_list_create' %}">
      <h1>Create a new list</h1>
    </a>
    <a href="{% url 'todo_item_create' %}">
      <h1>Create a new item</h1>
    </a>
    {% if todos %}
    <table>
      <thead>
        <th>Name</th>
        <th>Number of items</th>
      </thead>
      <tbody>
        {% for todo in todos %}
          <tr>
            <td>
              <a href="{% url 'todo_list_detail' todo.id %}">{{ todo.name }}</a>
            </td>
            <td>{{ todo.items.count }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
{% endblock main %}
