{% extends 'base.html' %}

{% block title %}
  {{ todo.name }} - Todo Detail
{% endblock title %}
{% block main %}
  <div>
    <h1>{{ todo.name }}</h1>
    <p>
      <a href="{% url 'todo_list_update' todo.id %}">Edit</a>
    </p>
    <p>
      <a href="{% url 'todo_list_delete' todo.id %}">Delete</a>
    </p>
    <h2>Tasks</h2>
    <table>
      <thead>
        <th>Tasks</th>
        <th>Due date</th>
      </thead>
      <tbody>
        {% for item in todo.items.all %}
          <tr>
            <td>
              <a href="{% url 'todo_item_update' item.id %}">{{ item.task }}</a>
            </td>
            <td>{{ item.due_date }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock main %}
