{% extends 'base.html' %}

{% block title %}
  {{ todo.name }}Update Todo
{% endblock title %}
{% block main %}
  <div>
    <h1>Update List</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button>Update</button>
    </form>
  </div>
{% endblock main %}
